# Intro to data analysis with pandas

# In-depth pandas tutorial
[Giant pandas tutorial](https://www.youtube.com/watch?v=oGzU688xCUs) and [attendant notes](https://github.com/chendaniely/scipy-2017-tutorial-pandas) available at the links.

# Imports
Allow plots in the notebook itself, and enable some helpful functions

In [112]:
%reset -f
%matplotlib inline
%config InlineBackend.figure_format = 'retina' # High-res graphs (rendered irrelevant by svg option below)
%config InlineBackend.print_figure_kwargs = {'bbox_inches':'tight'} # No extra white space
%config InlineBackend.figure_format = 'svg' # 'png' is default

import warnings
warnings.filterwarnings('ignore') # Because we are adults
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [113]:
data = sns.load_dataset("tips")
data.head()  # show first n entries (default is 5)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

# Data exploration

## Histograms

In [117]:
data["tip"].hist(by=data["sex"], sharex=True, sharey=True)
sns.despine()  # Remove top and right side of box

plt.show()  # Somewhat redundant in this context, but suppresses annoying text output.

## Overlaid histograms

In [118]:
grouped_by_sex = data.groupby("sex")

# You can also add several arguments below like bins=20, or normed=True
figure, axes = grouped_by_sex["tip"].plot(
    kind="hist", normed=False, alpha=0.5, legend=True
)

# Re-label legend entries, move legend to right-middle
axes.legend(["Men", "Women"], loc=(0.75, 0.5))

sns.despine()
plt.show()

## Descriptive statistics

In [119]:
grouped_by_sex["tip"].describe()

        count      mean       std  min  25%   50%   75%   max
sex
Male    157.0  3.089618  1.489102  1.0  2.0  3.00  3.76  10.0
Female   87.0  2.833448  1.159495  1.0  2.0  2.75  3.50   6.5

## Subsetting data
Let's get the tips given on Sunday at dinner time only.

In [120]:
sunday_dinner_tips = data.tip[(data.day == "Sun") & (data.time == "Dinner")]

## Data processing

### Add new column
Add a new column showing the percentage of the total bill tipped using a lambda expression. Naturally, you can also accomplish this by defining a named function.

In [121]:
data["tip_percentage"] = data.apply(
    lambda row: row["tip"] / row["total_bill"] * 100, axis=1
)
data.head()

   total_bill   tip     sex smoker  day    time  size  tip_percentage
0       16.99  1.01  Female     No  Sun  Dinner     2        5.944673
1       10.34  1.66    Male     No  Sun  Dinner     3       16.054159
2       21.01  3.50    Male     No  Sun  Dinner     3       16.658734
3       23.68  3.31    Male     No  Sun  Dinner     2       13.978041
4       24.59  3.61  Female     No  Sun  Dinner     4       14.680765

## Deleting columns
Delete that new tip percentage column.

In [122]:
del data["tip_percentage"]
data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

# Inferential Statistics
Examples of inferential statistics using statsmodels. Note that there are some recent and annoying breaking changes between pandas and numpy when dealing with pandas's "categorical" data type.

## ANOVA
Perform an ANOVA using syntax akin to that of R.

First, figure out which columns have the annoying "categorical" data type.

In [123]:
data.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

Second, convert those to strings (will show as "object", which numpy can actually understand).

In [124]:
categories = ["sex", "smoker", "day", "time"]

for category in categories:
    data[category] = data[category].astype(str)

data.dtypes

total_bill    float64
tip           float64
sex            object
smoker         object
day            object
time           object
size            int64
dtype: object

Now run the ANOVA.

In [125]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

model = "tip ~ day * smoker"
lm = ols(model, data=data).fit()
# lm.summary() # to show regression results
table = sm.stats.anova_lm(lm, typ=2)

display(table)

                sum_sq     df         F    PR(>F)
day           9.838737    3.0  1.715263  0.164532
smoker        0.329215    1.0  0.172184  0.678555
day:smoker    4.125773    3.0  0.719278  0.541351
Residual    451.231616  236.0       NaN       NaN

## Table aesthetics
Make the table prettier and more intelligible.

In [126]:
def color_significant_green(val, alpha=0.05):
    if val < alpha:
        color = "green"
    else:
        color = "black"
    return "color: %s" % color


def bold_significant(val, alpha=0.05):
    if val < alpha:
        font_weight = "bold"
    else:
        font_weight = "normal"
    return "font-weight: %s" % font_weight


(
    table.style.applymap(color_significant_green, alpha=0.05, subset=["PR(>F)"])
    .applymap(bold_significant, alpha=0.05, subset=["PR(>F)"])
    .format("{:.3f}", subset=["sum_sq", "F", "PR(>F)"])  # show only 3 decimal places
)

## T-tests

In [127]:
from numpy import sqrt
from scipy.stats import ttest_ind


def cohens_d(t, n):
    return 2 * t / sqrt(n - 2)


# Set up empty results table
columns = ["n", "t", "p", "d"]
index = []
results = pd.DataFrame(index=index, columns=columns)

# Get data for t-test
male_tips = data[data["sex"] == "Male"]["tip"]
female_tips = data[data["sex"] == "Female"]["tip"]

# Perform t-test and surrounding calculations
n = male_tips.count() + female_tips.count()
df = n - 2
t, p = ttest_ind(male_tips, female_tips)
d = cohens_d(t, n)

# Add data to table
comparison = "Male vs. Female"
results.loc[comparison] = [n, t, p, d]

# Output pretty table
(
    results.style.applymap(color_significant_green, subset=["p"])
    .applymap(bold_significant, subset=["p"])
    .format("{:.3f}", subset=["t", "p", "d"])
)

## Place statistics in text with Markdown

In [104]:
from IPython.display import Markdown

inequality_symbol = "="


def report_t_test(df, t, p, d, alpha=0.001):
    if p < alpha:
        p = 0.001
        inequality_symbol = "<"
    else:
        inequality_symbol = "="

    T = format(t, ".2f").lstrip("0")  # 2 decimal places, no leading 0
    P = format(p, ".3f").lstrip("0")
    D = format(d, ".3f").lstrip("0")
    DF = format(df, "d")  # integer

    output = f"*t*({DF})={T}, _p_{inequality_symbol}{P}, *d*={D}"
    display(Markdown(output))


report_t_test(df, t, p, d)

*t*(242)=1.39, _p_=.166, *d*=.178

And in plain markdown:
_t_({{n-2}})={{format(t, '.2f').lstrip('0')}}, *p*{{inequality_symbol}}{{format(p, '.3f').lstrip('0')}}, *d*={{format(d, '.3f').lstrip('0')}}

<div class="alert alert-block alert-info">
Note that you can copy paste such outputs directly into Word with no loss of formatting!
</div>

## Repeated Measures ANOVA
[See example here.](https://www.marsja.se/repeated-measures-anova-in-python-using-statsmodels/)

In [128]:
import pandas as pd
import numpy as np
import statsmodels
from statsmodels.stats.anova import AnovaRM
statsmodels.__version__

'0.9.0'

In [129]:
N = 20
P = [1, 2]

values = [998, 511]

sub_id = [i + 1 for i in range(N)] * len(P)
mus = np.concatenate([np.repeat(value, N) for value in values]).tolist()
rt = np.random.normal(mus, scale=112.0, size=N * len(P)).tolist()
iv = np.concatenate([np.array([p] * N) for p in P]).tolist()

df = pd.DataFrame({"id": sub_id, "rt": rt, "iv": iv})

In [130]:
aovrm = AnovaRM(df, depvar="rt", subject="id", within=["iv"])
fit = aovrm.fit()
fit.summary()

<class 'statsmodels.iolib.summary2.Summary'>
"""
              Anova
=================================
   Num DF  Den DF F Value  Pr > F
---------------------------------
iv 1.0000 19.0000 225.3254 0.0000
=================================

"""

# dfply
For those of you who are familiar with R and the tidyverse, the [dfply package](https://github.com/kieferk/dfply) allows you to have dplyr-like piping in Python. The pipe operator for this package is `>>`, while the result of each computation step is given by `X`. `>>=` is used for in-place assignment. All the documentation is available at the link; I'm just going to go over some useful basics here.

In [12]:
from dfply import *

diamonds >> head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

## Selection

Select two of the columns using `X` to represent the piped data frame.

In [17]:
diamonds >> select(X.cut, X.carat) >> head()

       cut  carat
0    Ideal   0.23
1  Premium   0.21
2     Good   0.23
3  Premium   0.29
4     Good   0.31

Alternatively, you can use an array of field names.

In [18]:
diamonds >> select(["cut", "carat"]) >> head()

       cut  carat
0    Ideal   0.23
1  Premium   0.21
2     Good   0.23
3  Premium   0.29
4     Good   0.31

Or we can refer to the columns by their numerical index.

In [20]:
diamonds >> select(1, 0) >> head()

       cut  carat
0    Ideal   0.23
1  Premium   0.21
2     Good   0.23
3  Premium   0.29
4     Good   0.31

## Dropping
Works the same way as `select`.

In [23]:
# drop cut (1), price, x and y
diamonds >> drop(1, X.price, ["x", "y"]) >> head()

   carat color clarity  depth  table     z
0   0.23     E     SI2   61.5   55.0  2.43
1   0.21     E     SI1   59.8   61.0  2.31
2   0.23     E     VS1   56.9   65.0  2.31
3   0.29     I     VS2   62.4   58.0  2.63
4   0.31     J     SI2   63.3   58.0  2.75

## Inverse selection
What if you want all the columns _except_ for some selection? Use the `~` operator. Only works with `X`-type selection.

In [26]:
# Select all columns except for carat, cut, and price
diamonds >> select(~X.carat, ~X.cut, ~X.price) >> head()

  color clarity  depth  table     x     y     z
0     E     SI2   61.5   55.0  3.95  3.98  2.43
1     E     SI1   59.8   61.0  3.89  3.84  2.31
2     E     VS1   56.9   65.0  4.05  4.07  2.31
3     I     VS2   62.4   58.0  4.20  4.23  2.63
4     J     SI2   63.3   58.0  4.34  4.35  2.75

## Filtering
Filtering rows with logical criteria is done with either `mask` or `filter_by`.

In [27]:
diamonds >> mask(X.cut == "Ideal") >> head()

    carat    cut color clarity  depth  table  price     x     y     z
0    0.23  Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
11   0.23  Ideal     J     VS1   62.8   56.0    340  3.93  3.90  2.46
13   0.31  Ideal     J     SI2   62.2   54.0    344  4.35  4.37  2.71
16   0.30  Ideal     I     SI2   62.0   54.0    348  4.31  4.34  2.68
39   0.33  Ideal     I     SI2   61.8   55.0    403  4.49  4.51  2.78

As with all things Python, multi-line statements can be placed between parentheses.

In [34]:
(
    diamonds
    >> filter_by(X.cut == "Ideal", X.color == "E", X.table < 55, X.price < 500)
    >> head()
)

       carat    cut color clarity  depth  table  price     x     y     z
26683   0.33  Ideal     E     SI2   62.2   54.0    427  4.44  4.46  2.77
32297   0.34  Ideal     E     SI2   62.4   54.0    454  4.49  4.52  2.81
40928   0.30  Ideal     E     SI1   61.6   54.0    499  4.32  4.35  2.67
50623   0.30  Ideal     E     SI2   62.1   54.0    401  4.32  4.35  2.69
50625   0.30  Ideal     E     SI2   62.0   54.0    401  4.33  4.35  2.69

## Pulling
Retrieves a column as a pandas series, if you care about a particular column at the end of your pipeline.

In [35]:
(
    diamonds
    >> filter_by(X.cut == "Ideal", X.color == "E", X.table < 55, X.price < 500)
    >> pull("carat")
)

26683    0.33
32297    0.34
40928    0.30
50623    0.30
50625    0.30
Name: carat, dtype: float64

## Sorting
Use `arrange`, which is a wrapper for `.sort_values` in pandas.

In [38]:
diamonds >> arrange(X.table, ascending=False) >> head(5)

       carat   cut color clarity  depth  table  price     x     y     z
24932   2.01  Fair     F     SI1   58.6   95.0  13387  8.32  8.31  4.87
50773   0.81  Fair     F     SI2   68.8   79.0   2301  5.26  5.20  3.58
51342   0.79  Fair     G     SI1   65.3   76.0   2362  5.52  5.13  3.35
52860   0.50  Fair     E     VS2   79.0   73.0   2579  5.21  5.18  4.09
49375   0.70  Fair     H     VS1   62.0   73.0   2100  5.65  5.54  3.47

Can sort by multiple values with array notation.

In [37]:
diamonds >> arrange(["color", "table"], ascending=False) >> head()

       carat   cut color clarity  depth  table  price     x     y     z
9294    1.45  Fair     J     SI2   58.6   68.0   4570  7.45  7.33  4.34
48505   0.74  Fair     J     VS1   58.8   68.0   1982  5.91  5.80  3.44
1275    0.99  Fair     J     SI1   58.0   67.0   2949  6.57  6.50  3.79
47531   0.75  Fair     J     VS1   61.9   67.0   1869  5.80  5.70  3.56
52583   0.97  Fair     J     SI2   60.8   67.0   2538  6.41  6.32  3.87

In [43]:
(
    diamonds
    >> group_by(X.cut)
    >> arrange(X.price)    
    >> head(3)
    >> ungroup()
    >> mask(X.carat < 0.23)    
)

    carat      cut color clarity  depth  table  price     x     y     z
8    0.22     Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
1    0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
12   0.22  Premium     F     SI1   60.4   61.0    342  3.88  3.84  2.33

## Creating new columns
Use `mutate()` to compute new columns.

In [45]:
diamonds >> mutate(x_plus_y=X.x + X.y) >> select(columns_from('x')) >> head(3)

      x     y     z  x_plus_y
0  3.95  3.98  2.43      7.93
1  3.89  3.84  2.31      7.73
2  4.05  4.07  2.31      8.12

`transmute()` to mutate and select variables.

In [47]:
diamonds >> transmute(x_plus_y=X.x + X.y, y_div_z=(X.y / X.z)) >> head(3)

   x_plus_y   y_div_z
0      7.93  1.637860
1      7.73  1.662338
2      8.12  1.761905

## Grouping

In [50]:
(
    diamonds
    >> group_by(X.cut)
    >> mutate(price_lead=lead(X.price), price_lag=lag(X.price))
    >> head(2) # select 2 of each cut, since grouped
    >> select(X.cut, X.price, X.price_lead, X.price_lag)
)

          cut  price  price_lead  price_lag
8        Fair    337      2757.0        NaN
91       Fair   2757      2759.0      337.0
2        Good    327       335.0        NaN
4        Good    335       339.0      327.0
0       Ideal    326       340.0        NaN
11      Ideal    340       344.0      326.0
1     Premium    326       334.0        NaN
3     Premium    334       342.0      326.0
5   Very Good    336       336.0        NaN
6   Very Good    336       337.0      336.0

## Summarizing

In [55]:
(
    diamonds
    >> group_by(X.cut)
    >> summarize(price_mean=X.price.mean(), price_std=X.price.std())
)

         cut   price_mean    price_std
0       Fair  4358.757764  3560.386612
1       Good  3928.864452  3681.589584
2      Ideal  3457.541970  3808.401172
3    Premium  4584.257704  4349.204961
4  Very Good  3981.759891  3935.862161

In [56]:
(
    diamonds
    >> group_by(X.cut, X.color)
    >> summarize(price_mean=X.price.mean(), price_std=X.price.std())    
)

   color        cut   price_mean    price_std
0      D       Fair  4291.061350  3286.114238
1      E       Fair  3682.312500  2976.651645
2      F       Fair  3827.003205  3223.302685
3      G       Fair  4239.254777  3609.644379
4      H       Fair  5135.683168  3886.481847
5      I       Fair  4685.445714  3730.271132
6      J       Fair  4975.655462  4050.458933
7      D       Good  3405.382175  3175.148710
8      E       Good  3423.644159  3330.702061
9      F       Good  3495.750275  3202.411187
10     G       Good  4123.482204  3702.504718
11     H       Good  4276.254986  4020.660488
12     I       Good  5078.532567  4631.702141
13     J       Good  4574.172638  3707.790845
14     D      Ideal  2629.094566  3001.069919
15     E      Ideal  2597.550090  2956.007149
16     F      Ideal  3374.939362  3766.635328
17     G      Ideal  3720.706388  4006.262468
18     H      Ideal  3889.334831  4013.375228
19     I      Ideal  4451.970377  4505.150405
20     J      Ideal  4918.186384  4476.206836
21     D    Premium  3631.292576  3711.634010
22     E    Premium  3538.914420  3794.987184
23     F    Premium  4324.890176  4012.022756
24     G    Premium  4500.742134  4356.571034
25     H    Premium  5216.706780  4466.189717
26     I    Premium  5946.180672  5053.746146
27     J    Premium  6294.591584  4788.936691
28     D  Very Good  3470.467284  3523.753268
29     E  Very Good  3214.652083  3408.023634
30     F  Very Good  3778.820240  3786.124033
31     G  Very Good  3872.753806  3861.375464
32     H  Very Good  4535.390351  4185.798202
33     I  Very Good  5255.879568  4687.104775
34     J  Very Good  5103.513274  4135.652742

Summarizing multiple columns with `summarize_each(function_list, *columns)`; can use your favorite indexing style for columns.

In [58]:
diamonds >> group_by(X.cut) >> summarize_each([np.mean, np.var], X.price, "depth", 5)

,cut,price_mean,price_var,depth_mean,depth_var,table_mean,table_var
0,Fair,4358.757764,1.266848e+07,64.041677,13.266319,59.053789,15.563306
1,Good,3928.864452,1.355134e+07,62.365879,4.705224,58.694639,8.128253
2,Ideal,3457.541970,1.450325e+07,61.709401,0.516274,55.951668,1.553499
3,Premium,4584.257704,1.891421e+07,61.264673,1.342755,58.746095,2.186020
4,Very Good,3981.759891,1.548973e+07,61.818275,1.900466,57.956150,4.500170